<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>InicioSite</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1 id="Texto1">
      Inicio Site bootstra

    </h1>
    <div>
   
      <button id="botao" type="button" class="btn btn-primary btn-sm">Small button</button>   
    <a href="component2/component2.component.html" target="_blank"></a>
  </div>
    <h1>
      Segundo inicio
    </h1>
    
    <img src="img/banner1.png" alt="20">
  </body>
</html>